extends layout

block content
  form(method='POST', action=`/todos/${todo.id}`)
    .input-group.my-3
      input.form-control(type='text', name='label', required, value=todo.label)
      .input-group-append
        a.btn.btn-secondary(href='/') Cancel
        input.btn.btn-primary(type='submit', value='Save')
