extends layout
include icons

block content
  form(method='POST', action='/todos')
    .input-group.my-3
      input.form-control(type='text', name='label', required)
      .input-group-append
        input.btn.btn-primary(type='submit', value='Add')

  ul.list-group
    each item in todoItems
      .list-group-item.d-flex.align-items-center
        .flex-grow-1.mb-0= item.label
        .btn-group.btn-group-sm
          a.btn.btn-info(href=`/todos/${item.id}`)
            +icon('pencil')
          a.btn.btn-success(href=`/todos/${item.id}`)
            +icon('check2')
