extends layout

block content
  form(method='POST', action='/todos')
    .input-group.my-3
      input.form-control(type='text', name='label', required)
      .input-group-append
        input.btn.btn-primary(type='submit', value='Add')

  ul.list-group
    each item in todoItems
      a.list-group-item.list-group-item-action(href=`/todos/${item.id}`)= item.label
        form.float-right.mb-0(method='POST', action=`/todos/${item.id}/done`)
          input.btn.btn-secondary.float-right.btn-sm(
            type='submit',
            value='Mark Done'
          )
